language: node_js

node_js:
- '0.10'
before_script:
- chmod +x .travis/after_success.sh

env:
  global:
  - REPO="git@github.com:jessy1092/AutoDeploy"
  - secure: "Lkot6rnW+93WO/AEHe5n76kIgIcc1p1Q6MLoeGE5h3HvL6MTT/6pvnOOoVzYlMlkcBBnjzFe30iqpM/PGALpUT9euiDfMUI+9Sc3j8GmIAm4CTGgJNkeRa34R1Kg3zKpyz6xr70jeGy+CuSJKWlZgP2llS/j1AnikY0vmZu5QbI="

after_success: .travis/after_success.sh
